body{
    margin: 0;
}

#tomreg{
    flex: 3;
    color: #636e72;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
    text-decoration: none;
    margin-right: 17px;
    margin-top: -20px;
}

.form-group{
    position: absolute;
    flex: 3;
}

#button{
    margin-left: 310px;
    position: absolute;
    flex: 3;
}

#logout{
    flex: 3;
}

#header{
    padding: 5px;
    width: 100%;
    height: 80px;
    color: #0000ff;
    display: flex;
    background-color: #f5f6fa;
    position: fixed;
    z-index: 10;
}

#logo{
    flex: 3;
}

#kop{
    flex: 3;
    text-align: center;
    margin-top: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    z-index: 10;
}

.isi{
    padding-top: 170px;
    margin-left: 100px;
    margin-right: 100px;
}

#add{
    width: 20%;
    margin-top: 90px;
    position: absolute;
    margin-left: 78%;
    margin-right: 200px;
}

/* #view{
    text-align: center;
    width: 80%;
    height: 200px;
    background-color: aqua;
} */

#login{
    flex: 3;
    float: right;
    text-align: right;
    margin-top: 29px;
    left: 10px;
}

#login button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

.menu{
    background-color: #487eb0;
    width: 100%;
    height: 40px;
    margin-top: -14px;
}

.gambar{
    top: 70px;
    position: absolute;
    width: 100%;
    z-index: -10; 
}

#teks{
    position: absolute;
    margin-top: -400px;
    font-size: 40px;
    color: honeydew;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 1;
}

.search{
    display: table-row;
    top: 400px;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    left:  44%;
    margin-left: -140px;
    align-content: center;
}

/* #busert{
    cursor: pointer;
    height: 40px; 
    width: 200px; 
    background-color: #0984e3;
    border-radius: 4px; 
    border-width: 0px;
    -webkit-text-fill-color: aliceblue;
} */

.body{
    width: 100%;
}

#body .search button :hover{
    background-color: black;
}

#header #login :hover{
    color: black;
}

#bawah{
    background-color: #dfe4ea;
    height: 200px;
    margin-top: 100px;
    display: flex;
}

#foot{
    width: 100%;
    height: 30px;
}

.footer{
    width: 100%;
}

#bawah a{
    text-decoration: none;
    color: #747d8c;
}

#imgfot{
    position: absolute;
    width: 40%;
    flex: 4;
}

#fotnu{
    margin-left: 30%;
    position: absolute;
    width: 20%;
    margin-top: 20px;
    flex: 4;
}

#fotnu2{
    margin-left: 60%;
    position: absolute;
    width: 20%;
    margin-top: 20px;
    flex: 4;
}

#sosmed{
    margin-left: 75%;
    position: absolute;
    width: 20%;
    margin-top: 20px;
    flex: 4;
}